.footer {
    background-color: $uoc-header;
    color: $blanco;
    padding: 20px 0;
  
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: $mqMaxWidth) {
        flex-direction: column;
        align-items: center;
      }      
    }

    &__info {
      flex: 1;
      @media (max-width: $mqMaxWidth) {      
        text-align: center;
      }
    }

    &__info-text {
      margin: 0;
    }
    
    &__button {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      @media (max-width: $mqMaxWidth) {
        justify-content: center;
        margin-top: 10px;
      }
    }
  
    &__btn {
      background-color: $text-hover;
      color: $blanco;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
    }
    
    &__btn:hover {
      background-color: $menu-hover;
    }
  
  }