* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $uoc-bg;
  color: $uoc-corporate;
  margin: 0;
  padding: 0;
}

.container {
  max-width: $maxWidth; 
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: $uoc-header;
  color: $blanco;
  padding: 10px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 1.5em;
  }

  &__menuToggle {
    display: none;
    background: none;
    border: none;
    color: $blanco;
    font-size: 1.5em;
    cursor: pointer;
  }
}

.navbar {
  display: flex;
  justify-content: end;
  &__list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
  }

  &__item {
    margin-top: 5px;
    margin-left: 20px;
    padding: 10px;
  }

  &__link {
    color: $blanco;
    text-decoration: none;
  }
  &__link:hover {
    background-color: $menu-hover;
    border-radius: 5px;
    color: $text-hover;
    padding: 10px;
  }
}

// Recordatorio
// Max Width es Igual o menor 
// Min Width es igual o Mayor

@media (max-width: $mqMaxWidth) {
  .container{
    max-width: none;
  }

  .header {    
    &__container {
      // flex-direction: column;
      align-items: flex-start;
      
    }
  
    &__logo {
      margin: 10px 0;
    }

    &__menuToggle {
      display: block;
      align-items: center;
      margin: 10px 0;
    }
  }
  
  .navbar {
    display: none;
    flex-direction: column;
    width: auto;
    &__list {
      flex-direction: column;
    }

    &__item {
      margin: 10px 0;
    }

    &--active {
      display: flex;
    }
  }
}