<header>
    <div class="container container-header">
        <div class="logo"><i class="fas fa-utensils"></i> Minxo de Callosa</div>
        <button class="menu-toggle" aria-label="Abrir menú"><i class="fa fa-bars"></i></button>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Galeria</a></li>
                <li><a href="#">Ingredientes</a></li>
                <li><a href="#">Preparación</a></li>
            </ul>
        </nav>
    </div>
</header>
  