<header class="header">
    <div class="container header__container">
        <div class="header__logo"><i class="fas fa-utensils"></i> Minxo de Callosa</div>
        <button class="header__menuToggle" aria-label="Abrir menú"><i class="fa fa-bars"></i></button>
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__item"><a class="navbar__link" href="#">Inicio</a></li>                
                <li class="navbar__item"><a class="navbar__link" href="#recipe-container">Ingredientes</a></li>
                <li class="navbar__item"><a class="navbar__link" href="#preparacion-receta">Preparación</a></li>
                <li class="navbar__item"><a class="navbar__link" href="#otrasRecetas">Otras Recetas</a></li>
            </ul>
        </nav>
    </div>
</header>
  